/* .chatbox{
    height:80vh;
    overflow: auto;
}

.chatboxend{
    overflow-y: auto;
    scroll-behavior: smooth;
} */

.chatbox {
    height: calc(80vh - 50px); 
    box-sizing: border-box;
    overflow: auto;

  }
  
  .chatboxend {
    float: left;
    clear: both;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
  
  .dx-popover-wrapper.dx-position-left .dx-popover-arrow, .dx-popover-wrapper.dx-position-right .dx-popover-arrow {
    width: 10px;
    height: 20px;
    display: none;
  }

  